#post-datetime-info {
  color: grey;
  font-weight: lighter;
  font-size: small;
}

#post-likes-info {
  font-family: Tahoma, Arial;
}

#edit-button {
  padding: 0px;
}

body {
  font-family: sans-serif;
}

#profile-div {
  text-align: center;
}
