{% extends "network/layout.html" %}{% load static %}
{% block script %}<script src="{% static 'network/newpost.js' %}"></script>{% endblock %}


{% block body %}

{% if user.is_authenticated %}
<button class="btn btn-dark" id="newpost-button">Create New Post</button>
{% endif %}
<div class="input-group mb-3" id="newpost-div">
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{newpost_form}}
        <input class="btn btn-dark" type="submit" value="Post">
    </form>
</div>


{% include "network/postslayout.html" with posts=posts %}


{% endblock %}







